/* .searchResultsTable, tr { */
/*     display: flex; */
/* } */

/* .searchResultsIngredientsP { */
/*     display: flex; */
/*     flex-direction: columnv; */
/* } */

/* spacing */

div.page {
    width: 800px;
}

.friskforslagTitleImageLink {
    img {
        width: fit-content;
    }
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
}

table th {
    background-color: lightgray;
    text-align: left;
    padding: 10px;
}
table td {
    width: 200px;
    border: 1px dotted silver;
    word-break: break-all;
    padding: 10px;
}

.searchParamsTitle {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: lightgray;
    border-radius: 8px;
    gap: 10px;
}

.searchParamsDisplay {
    font-weight: bolder;
}

.searchResultsIngredientsSpan {
}

.searchResultsIngredientsCell {
    display: flex;
    flex-direction: column;
}

.ingredientmatched {
    background-color: lightgreen;
    border-radius: 4px;
}

.recipeBody {
    p, ul {
        background-color: lightgray;
        padding: 20px;
        border-radius: 10px;
        width: 600px;
        font-size: 0.9rem;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: lighter;
    }
}