@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* CSS rules specific for timezones project */
.page {
    font-family: "Poppins", sans-serif;
    background-image: url("../../public/images/timezones/timezone_background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

h4,
h1{
    color: #ffffff;
}

.wrapper {
    display: flex;
    background: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    border: 1.5px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(7px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
}

.wrapper h6 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 7px;
}

.wrapper .input-box-1 {
    padding: 10px 10px 10px 30px;
}

.wrapper .input-box-2 {
    padding: 10px 30px 10px 30px;
}

.input-box-1 input::placeholder,
.input-box-2 input::placeholder{
    color: #ffffff;
}

.generic-form input[type=time],
.generic-form input[type=text] {
    background: transparent;
    font-size: 1rem;
    border: none;
    outline: none;
    border: 1.5px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    color: #ffffff;
}

.wrapper .btn {
    margin: 20px 0 20px 0;
    padding: 5px 15px 5px 15px;
    background: #ffffff;
    color: black;
    margin-left: 50%;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    font-size: 14px;
    font-weight: 200;
}

/*th:src="@{/images/timezones/world-map.jpeg}"
        <a href="../index.html" th:href="@{/}">
            <img background="../../public/images/timezones/world-map.jpeg"/>
        </a>*/
