<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
<title>FriskForslag</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<link href="../../public/css/friskforslag.css" th:href="@{/css/friskforslag.css}" rel="stylesheet"/>
<link rel="icon" type="image/jpg" sizes="32x32" th:href="@{/images/friskforslag/friskforslaglogo32x32.jpg}">
<link rel="icon" type="image/jpg" sizes="48x48" th:href="@{/images/friskforslag/friskforslaglogo48x48.jpg}">
</head>

<body>

<div class="page">
    <header>
        <a href="../index.html" th:href="@{/}">
            <img alt="logo" src="../../public/images/lifehacklogo.png"
                 th:src="@{/images/lifehacklogo.png}"/>
        </a>
        <a class="friskforslagTitleImageLink" href="../friskforslag/index.html" th:href="@{/friskforslag}">
            <img alt="logo" src="../../public/images/friskforslag/friskforslaglogo.jpg"
                 th:src="@{/images/friskforslag/friskforslaglogo.jpg}" />
        </a>
    </header>
    <h1>Frisk Forslag</h1>

    <p>Indtast dine ingredienser, og søg efter opskrifter</p>

    <div>
        <form class="ingredientForm" action="friskforslag/search">
            <label>
                <input class="ingredientFormSearchText" type="text" name="ingredients" placeholder="Indtast ingredienser">
                <button type="submit">Søg</button>
            </label>
        </form>
    </div>


</div>

</body>
</html>
