<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Projectname</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<link href="../../public/css/friskforslag.css" th:href="@{/css/friskforslag.css}" rel="stylesheet"/>
</head>

<body>

<div class="page">
    <header>
        <a href="../index.html" th:href="@{/}">
            <img alt="logo" src="../../public/images/friskforslag/friskforslaglogo.jpg"
                 th:src="@{/images/friskforslag/friskforslaglogo.jpg}"/>
        </a>
    </header>

    <h1>Frisk Forslag</h1>

    <p>Resultater:</p>

    <div th:if="${filteredRecipes != null && !filteredRecipes.isEmpty()}"
         class="searchResults">
        <table class="searchResultsTable">
            <thead>
            <tr>
                <th>Opskrift</th>
                <th>Brugte Ingredienser</th>
                <th>Kilde</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rec : ${filteredRecipes}">
                <th th:text="${rec.Name()}"></th>
                <td>
                    <ul class="searchResultsIngredientsList" >
                        <li class="searchResultsIngredientsElement"
                              th:each="ing, iterStat : ${rec.Ingredients()}"
                              th:text="${rec.Ingredients()[__${iterStat.index}__]} + ' : ' +
                                     ${rec.Quantities()[__${iterStat.index}__]} + ' ' +
                                     ${rec.Units()[__${iterStat.index}__]}">
                        </li>
                    </ul>
                </td>
                <td>
                    <span th:if="${rec.Src() != null && !rec.Src().isEmpty()}" th:text="${rec.Src()}"></span>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div th:if="${filteredRecipes == null || filteredRecipes.isEmpty()}">
        <p class="searchResultParagraph">
            Ingen resultater :(
        </p>
    </div>

</div>

</body>
</html>
