<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Swipe</title>
    <link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../../public/css/matchmaker.css" th:href="@{/css/matchmaker.css}" rel="stylesheet"/>
</head>
<body>

<div class="page">

    <h1 class="h1">Bars Apart, Hearts Together</h1>

    <img class="image" th:src="${fugitive.url}" th:alt="${fugitive.name}"/>
    <h2 class="h2" th:text="${fugitive.name}">Name</h2>

    <form class="btns" method="post">
        <input type="hidden" name="fugitiveId" th:value="${fugitive.fugitivesId}">
        <button class="btn cross" type="submit" formaction="swipefordislike">&#10007;</button>
        <button class="btn heart" type="submit" formaction="swipeforlike">&hearts;</button>
    </form>

    <table class="table">
        <tr><td>Category</td><td th:text="${fugitive.category}"></td></tr>
        <tr><td>Occupation</td><td th:text="${fugitive.occupation}"></td></tr>
        <tr><td>Description</td><td th:text="${fugitive.description}"></td></tr>
    </table>

    <div class="footer">
        <a href="/templates/index.html" th:href="@{/}">Home of LifeHacks</a>
    </div>

</div>

</body>
</html>
