<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>CalorieCruncher</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<link href="../../public/css/caloriecruncher.css" th:href="@{/css/caloriecruncher.css}" rel="stylesheet"/>
<img alt="logo" src="./public/images/fat-man-eats-burger-generate-ai-photo.png" th:src="@{/images/fat-man-eats-burger-generate-ai-photo.png}"/>
</head>

<body>

<div class="page">
    <header>
        <a href="../index.html" th:href="@{/}">
            <img alt="logo" src="../../public/images/lifehacklogo.png" th:src="@{/images/lifehacklogo.png}"/>
        </a>
    </header>

    <h1>Calorie Cruncher</h1>

    <br>


    <h3>Daily calories your body need!</h3>
    <h4 th:text="${Goal}"></h4>
    <div id="result">
        <p th:text="${BMR}"></p>
    </div>


</div>
</body>
</html>