<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrollable Table</title>
    <link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../../public/css/wardrober.css" th:href="@{/css/wardrober.css}" rel="stylesheet"/>

</head>
<body>

<header>
    <a href="../index.html" th:href="@{/}">
        <img class="logo" alt="logo" src="../../public/images/wardrober/wardrober-high-resolution-logo.png" th:src="@{/images/wardrober/wardrober-high-resolution-logo.png}"/>
    </a>
</header>

<h1>Edit item</h1>

<form class="edit-item-form" method="post">

    <label for="category">Category</label>
    <input type="text" id="category" name="categoryid" th:value="${session.item.categoryId}" required/>

    <label for="brand">Brand</label>
    <input type="text" id="brand" name="brand" th:value="${session.item.brand}"  required/>

    <label for="description">Description</label>
    <input type="text" id="description" name="description" th:value="${session.item.description}"  required/>

    <label for="color">Color</label>
    <input type="text" id="color" name="color" th:value="${session.item.color}" required/>

    <label for="size">Size</label>
    <input type="text" id="size" name="size" th:value="${session.item.size}" required/>

    <label for="price">Price</label>
    <input type="text" id="price" name="price" th:value="${session.item.price}" required/>

    <button class="btn"  type="submit" name="itemId" th:value="${session.item.itemId}" formaction="/wardrober/updateitem">Update</button>

</form>

</body>
</html>











