<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrollable Table</title>
    <link href="../../public/css/wardrober.css" th:href="@{/css/wardrober.css}" rel="stylesheet"/>

</head>
<body>
<div class="large-box">

    <header>
        <a href="../index.html" th:href="@{/}">
            <img alt="logo" src="../../public/images/wardrober/wardrober-high-resolution-logo.png"
                 th:src="@{/images/wardrober/wardrober-high-resolution-logo.png}"/>
        </a>
    </header>

    <h1>Welcome&nbsp; <span th:text="${session.currentUser.username}"> </span></h1>

    <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>

    <form class="table" id="table-styling" method="post">
        <table class="task-table">
            <thead>
            <tr>
                <th>Category</th>
                <th>Brand</th>
                <th>Description</th>
                <th>Color</th>
                <th>Size</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item: ${session.itemList}">
                <td th:text="${item.categoryId}"></td>
                <td th:text="${item.brand}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${item.color}"></td>
                <td th:text="${item.size}"></td>
                <td th:text="${item.price}"></td>
                <td>
                    <button type="submit" name="itemId" th:value="${item.itemId}" formaction="/wardrober/deleteitem">Delete
                    </button>
                    <button type="submit" name="itemId" th:value="${item.itemId}" formaction="/wardrober/edititem">Edit</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <h2>Add a new item to your wardrobe</h2>

    <form class="add-item" action="/index.html" method="post">

        <div class="add-item-1">
            <div th:unless="${session.categoryMap == null || session.categoryMap.isEmpty()}">
                <label for="categoryid">Category:</label><br/><br/>
                <select id="categoryid" name="categoryid" required>
                    <option th:each="category : ${session.categoryMap}"
                            th:value="${category.value.categoryId}"
                            th:text="${category.value.name}">
                    </option>
                </select>
                <br/><br/>
            </div>

            <label for="brand">Brand:</label><br>
            <input id="brand" name="brand" type="text" value="" required><br>
            <label for="description">Description:</label><br>
            <input id="description" name="description" type="text" value=""  required><br>
        </div>
        <div class="add-item-2">
            <label for="color">Color:</label><br>
            <input id="color" name="color" type="text" value=""  required><br>
            <label for="size">Size:</label><br>
            <input id="size" name="size" type="text" value=""  required><br>
            <label for="price">Price:</label><br>
            <input id="price" name="price" type="text" value=""  required><br>
        </div>

        <button class="btn-submit" type="submit" formaction="/wardrober/createitem">Submit</button>

    </form>



</div>
</body>
</html>