<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>
<header class="picture">
    <a>
        <img src="../../public/images/A07/gameover.png" th:src="@{/images/A07/gameover.png}" width="50%"/>
        <img src="../../public/images/A07/DoedKevin.png" th:src="@{/images/A07/DoedKevin.png}" width="30%"/>

    </a>


</header>
<p>Kevin er død</p>

<form method="post">
    <button type="submit" formaction="/A07/stage0">Spil igen?</button>
</form>

<p><a href="index.html" th:href="@{/}">Tilbage til LifeHack</a></p>

</body>
</html>