<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HaikuGen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../../public/css/HaikuStyleW.css" th:href="@{/css/HaikuStyleW.css}" rel="stylesheet"/>
    <link href="haiku.css" rel="stylesheet">
</head>
<body>
<div class="banner">
    <h2>Haiku Generator</h2>
</div>
<div class="container">
    <form method="post">
        <input type="text" id="line1" name="firstline" placeholder="First line" th:value="${firstline}"/>
        <button type="submit" formaction="/generatefirstlinenormal" class="additionalButton">Generate First Line
        </button>
        <button type="submit" formaction="/generatefirstlinebykevin" class="additionalButton">Haiku by Kevin</button>
        <button type="submit" formaction="/generatefirstlineaboutkevin" class="additionalButton">Haiku about Kevin
        </button>
    </form>
    <br>

    <form method="post">
        <input type="text" id="line2" name="secondline" th:value="${secondline}" placeholder="Second line">
        <button type="submit" class="additionalButton" formaction="/generatesecondlinenormal">Classic Haiku</button>
        <button type="submit" class="additionalButton" formaction="/generatesecondlinebykevin">Haiku by Kevin</button>
        <button type="submit" class="additionalButton" formaction="/generatesecondlineaboutkevin">Haiku about Kevin
        </button>
    </form>
    <br>

    <form method="post">
        <input type="text" name="thirdline" th:value="${thirdline}" id="line3" placeholder="Third line">
        <button type="submit" class="additionalButton" formaction="/generatethirdlinenormal">Classic Haiku</button>
        <button type="submit" class="additionalButton" formaction="/generatethirdlinebykevin">Haiku by Kevin</button>
        <button type="submit" class="additionalButton" formaction="/generatethirdlineaboutkevin">Haiku about Kevin
        </button>
    </form>
    <br>

    <button id="clearFields">Clear Fields</button>
    <button id="saveHaiku">Save Haiku</button>

</div>
<div class="footer">
    <a href="/templates/index.html" th:src="@{/templates/index.html}">Homepage</a>
</div>
</body>
</html>
